- content_for :normal_title, Collection.model_name.human(:count => :other)
- content_for :normal_commands, link_to(kor_command_image('plus'), new_collection_path)
- content_for :normal_content do
  .collection_list
  
    - if Collection.joins(:owner).count > 0
      = link_to I18n.t('edit_personal_collections').capitalize_first_letter, edit_personal_collections_path
  
    %table.kor_table
      %tr
        %th= Collection.human_attribute_name(:name).capitalize_first_letter
      - @collections.each do |c|
        %tr{:id => "collection_#{c.id}"}
          %td.expanding= h(c.list_name)
          %td.nowrap
            = link_to kor_command_image('pen'), edit_collection_path(c)
            = link_to kor_command_image('arrows_right'), edit_merge_collection_path(c)
            = link_to kor_command_image('x'), collection_path(c), :method => :delete, :data => {:confirm => I18n.t("confirm.delete_collection")}
