- content_for :title, Kind.model_name.human(:count => :other)
- content_for :commands, link_to(kor_command_image('plus'), new_kind_path)
- content_for :content do
  %table.kor_table
    %tr
      %th= Kind.human_attribute_name('name')
      %th
    - @kinds.each do |k|
      %tr{:id => "kind_#{k.id}"}
        %td.expanding
          .name.italic= h(k.name)
          .schema
            %strong Fields:
            = k.fields.map{|f| f.human}.join(', ')
          .services
            %strong Generators:
            = k.generators.map{|f| f.name}.join(', ')
        %td.nowrap.commands
          = link_to kor_command_image('globe', :title => "Configure generators"), kind_generators_path(k)
          = link_to kor_command_image('three_bars', :title => "Configure fields"), kind_fields_path(k)
          = link_to kor_command_image('pen'), edit_kind_path(k)
          - unless k == Kind.medium_kind
            = link_to kor_command_image('x'), kind_path(k), |
              :method => :delete, :data => {:confirm => I18n.t('confirm.delete_kind')} |

