- content_for :templates do
  = form_tag({:controller => 'user_groups', :action => 'create'}, :id => 'user_group_form') do
    .hr
    .title
      = I18n.t('objects.create', :o => UserGroup.model_name.human)
    
    %br
    
    = kor_input_tag UserGroup.human_attribute_name(:name), :control => text_field_tag("user_group[name]")
    = kor_submit_tag :name => I18n.t('verbs.create')
    
    .hr

- content_for :normal_title, I18n.t("nouns.clipboard")
- content_for :normal_commands do
  = link_to( kor_command_image('minus'), put_in_clipboard_path(:mark => 'reset'), :data => {:confirm => I18n.t('confirm.reset_clipboard')})
- content_for :normal_content do
  = form_tag( {:controller => 'tools', :action => 'clipboard_action'}, :id => 'clipboard_form' ) do

    - unless @entities.empty?
      %table.kor_table{:cellpadding => 0, :cellspacing => 0}
        - @entities.each do |entity|
          %tr{:id => "entity_#{entity.id}"}
            %td
              = hidden_field_tag "kind[]", entity.kind.id
              = check_box_tag "entity_ids[]", entity.id, true
            %td.expanding
              = kor_entity entity, include_kind: true, buttons: false
            %td.nowrap
              = link_to kor_command_image('select'), mark_as_current_path(:id => entity.id)
              = link_to kor_command_image('minus'), put_in_clipboard_path(:id => entity.id, :mark => 'unmark')
      
      .hr

      .kor_form
        = kor_input_tag I18n.t('nouns.selection', :count => 1),
          :control => select_tag('kind_id',
            options_for_select([[I18n.t("all"), -1]] + Kind.all.collect{|k| [ h(k.name), k.id] }),
            :id => 'clipboard_entity_selector')

        = kor_input_tag I18n.t('nouns.action', :count => 1),
          :control => select_tag(:clipboard_action,
            clipboard_actions_for_select,
            :id => 'clipboard_action_selector')

        #clipboard_action_supplement

        = kor_submit_tag
    - else
      .subtitle= I18n.t('notices.no_entries_available')
