<% content_for :normal_title, I18n.t("nouns.statistics") %>
<% content_for :normal_content do %>

  <table class="kor_table">
    <thead>
      <tr>
        <th><strong><%= User.model_name.human :count => :other %></strong></th>
        <th class="number text-right"><strong><%= User.without_predefined.count %></strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= I18n.t "logged_in_recently" %></td>
        <td class="number text-right"><%= User.without_predefined.logged_in_recently.count %></td>
      </tr>
      <tr>
        <td><%= I18n.t "logged_in_last_year" %></td>
        <td class="number text-right"><%= User.without_predefined.logged_in_last_year.count %></td>
      </tr>
      <tr>
        <td><%= I18n.t "created_recently" %></td>
        <td class="number text-right"><%= User.without_predefined.created_recently.count %></td>
      </tr>
    </tbody>
  </table>

  <div class="spacer-1"></div>

  <table class="kor_table">
    <thead>
      <tr>
        <th><strong><%= Entity.model_name.human :count => :other %></strong></th>
        <th class="number text-right"><strong><%= Entity.count %></strong></th>
      </tr>
    </thead>
    <tbody>
      <% with_id = Entity.joins(:identifiers).group("kind_id").count %>
      <% with_wikidata_id = Entity.group(:kind_id).
        where("wikidata_id IS NOT NULL AND wikidata_id != ''").count %>
      <% Entity.group("kind_id").count.sort{|x, y| y.last - x.last}.each do |stat| %>
        <tr>
          <td><%= Kind.find(stat.first).name %></td>
          <td class="number text-right">
            <strong><%= stat.last %></strong>
            <div>
              <i style="white-space: nowrap">
                <%= with_id[stat.first] || 0 %>
                <%= I18n.t "identified" %>
              </i>
            </div>
            <div>
              <i style="white-space: nowrap">
                <%= with_wikidata_id[stat.first] || 0 %>
                <%= I18n.t "wikidata_identified" %>
              </i>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="spacer-1"></div>

  <table class="kor_table">
    <thead>
      <tr>
        <th><strong><%= Relationship.model_name.human :count => :other %></strong></th>
        <th class="number text-right"><strong><%= Relationship.count %></strong></th>
      </tr>
    </thead>
    <tbody>
      <% Relationship.group("relation_id").count.sort{|x, y| y.last - x.last}.each do |stat| %>
        <tr>
          <td><%= Relation.find(stat.first).name %></td>
          <td class="number text-right"><%= stat.last %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>