<%= hidden_field_tag "#{prefix}[id]", entity_dating.id %>
<%= hidden_field_tag "#{prefix}[lock_version]", entity_dating.lock_version %>

<div class="form_field">
  <ul>
    <li><%= I18n.t 'activerecord.attributes.entity_dating.label' %></li>
    <li>
      <%= text_field_tag "#{prefix}[label]", label %>
    </li>
  </ul>
</div>

<div class="form_field">
  <ul>
    <li><%= I18n.t 'activerecord.attributes.entity_dating.dating_string' %></li>
    <li>
      <%= text_field_tag "#{prefix}[dating_string]", entity_dating.dating_string %>
    </li>
  </ul>
</div>