<div class="entities-show" ng-controller="entity_controller" ng-cloak="true">
  <div class="layout_panel left normal_panel_size">

    <div class="layout_panel top metadata">
      <div class="section_panel">
        <div class="header">
          <div class="title" ng-bind="entity.display_name"></div>
          <div class="commands">
            <div kor-current-button="entity" />
            <div kor-to-clipboard="entity" />

            <a href="/entities/{{entity.id}}/edit" ng-show="allowed_to('edit')">
              <%= kor_command_image 'pen' %>
            </a>
            <form method="post" action="{{'/entities/' + entity.id}}">
              <input type="hidden" name="_method" value="delete" />
              <a
                href="/blaze#/entities/{{entity.id}}" 
                ng-show="allowed_to('delete')" 
                data-confirm="{{'objects.confirm_destroy' | translate:{interpolations: {o: 'activerecord.models.entity'} } }}" 
                data-method="delete" 
                rel="nofollow" 
                ng-click="submit($event)"
              >
                <%= kor_command_image 'x' %>
              </a>
            </form>
          </div>
          <div class="type subtitle">
            <span ng-show="entity.medium_id">
              <span ng-bind="'activerecord.attributes.medium.original_extension' | translate | capitalize"></span>:
              <span class="highlighted_subtitle" ng-bind="entity.medium.content_type"></span>
            </span>
            <span ng-hide="entity.medium_id" ng-bind="entity.kind.name"></span>
            <span ng-show="entity.subtype">({{entity.subtype}})</span>
          </div>
        </div>
        <div class="clear_both"></div>

        <div class="content subtitle">
          <div ng-show="entity.medium_id">
            <span ng-bind="'activerecord.attributes.medium.file_size' | translate | capitalize"></span>:
            <span class="highlighted_subtitle" ng-bind="entity.medium.file_size | human_size"></span>
          </div>
        
          <ul>
            <li class="synonyms" ng-show="entity.synonyms.length > 0">
              <span ng-bind="'nouns.synonym' | translate:{count: 'other'} | capitalize"></span>:
              <span class="synonym" ng-repeat="synonym in entity.synonyms">
                <span class="divider" ng-show="!$first">|</span>
                <span class="highlighted_subtitle" ng-bind="synonym"></span>
              </span>
            </li>
            <li class="dating" ng-repeat="dating in entity.datings">
              {{dating.label}}:
              <span class="highlighted_subtitle" ng-bind="dating.dating_string"></span>
            </li>
            <li class="field" ng-repeat="field in visible_entity_fields()">
              {{field.show_label}}:
              <span class="highlighted_subtitle" ng-bind="field.value"></span>
            </li>
            <li class="spacer" ng-show="visible_entity_fields().length > 0"></li>
            <li class="property" ng-repeat="property in entity.properties">
              {{property.label}}:
              <span class="highlighted_subtitle" ng-bind="property.value"></span>
            </li>
            <li class="divider"><div class="hr"></div></li>
            <li class="comment" ng-show="entity.comment">
              <span ng-bind="'activerecord.attributes.entity.comment' | translate | capitalize"></span>
              <pre class="text" ng-bind="entity.comment"></pre>
              <br />
            </li>
            <li class="links">
              <div
                class="generator"
                ng-repeat="generator in entity.generators"
                kor-generator="generator"
                kor-entity="entity"
              ></div>
            </li>
            <li class="spacer"></li>
            <li class="tags" ng-show="show_tags()">
              <div
                class="column"
                kor-inplace-column="entity.tags"
                kor-inplace-url="/kor/inplace/tags/entities/{{entity.id}}/tags"
              >
                Tags:
                <span class="kor-inplace-show">
                  <span class="highlighted_subtitle inplace" title="Click to edit ...">
                    <span ng-bind="entity.tags.join(', ')"></span>
                  </span>
                  <a 
                    href="#" 
                    ng-show="allowed_to('tagging', entity.collection_id)"
                    class="kor-inplace-control"
                  >
                    <%= kor_command_image 'plus' %>
                  </a>
                </span>

                <span class="kor-inplace-edit">
                  <label for="tag_list" style="display: none">Tag list</label>
                  <input id="tag_list" type="text" kor-tagger="true" style="width: 300px">
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="layout_panel top">
      <div class="section_panel relationships">
        <div class="header">
          <div 
            class="title"
            ng-bind="'activerecord.models.relationship' | translate:{count: 'other'} | capitalize"
          ></div>
          <div class="commands">
            <a 
              href="/relationships/new?relationship[from_id]={{entity.id}}"
              ng-show="allowed_to_any('edit')"
              ng-click="toggle_relationship_editor($event)"
            >
              <%= kor_command_image 'plus' %>
            </a>
          </div>
        </div>
        <div class="clear_both"></div>

        
        <div class="content">
          <div
            ng-if="relationship_editor_visible"
            kor-relationship-editor="null"
            kor-source-entity="entity"
            kor-close="close_relationship_editor()"
          ></div>

          <div class="content">
            <div
              ng-repeat="(name, count) in entity.relations"
              kor-entity="entity"
              kor-relation="name"
              kor-count="count"
            ></div>
          </div>
        </div>

      </div>
    </div>
    
    <div class="layout_panel processing_data" ng-show="allowed_to('view_meta')">
      <div class="section_panel master_data">
        <div class="header">
          <div class="title" ng-bind="'activerecord.attributes.entity.master_data' | translate | capitalize"></div>
        </div>
        <div class="content subtitle">
          <ul>
            <li>
              <span ng-bind="'activerecord.attributes.entity.uuid' | translate | capitalize"></span>:
              <span class="highlighted_subtitle" ng-bind="entity.uuid"></span>
            </li>
            <li>
              <span ng-bind="'activerecord.attributes.entity.created_at' | translate | capitalize"></span>:
              <span class="highlighted_subtitle" ng-bind="entity.created_at | strftime:'%Y-%m-%d %H:%M:%S'"></span>
              <span ng-show="entity.creator">
                {{'by' | translate}}
                <span class="highlighted_subtitle" ng-bind="entity.creator | human_user"></span>
              </span>
            </li>
            <li>
              <span ng-bind="'activerecord.attributes.entity.updated_at' | translate | capitalize"></span>:
              <span ng-show="entity.updater">
                <span class="highlighted_subtitle" ng-bind="entity.updated_at | strftime:'%Y-%m-%d %H:%M:%S'"></span>
                <span ng-show="entity.updater">
                  {{'by' | translate}}
                  <span class="highlighted_subtitle" ng-bind="entity.updater | human_user"></span>
                </span>
              </span>
              <span 
                class="highlighted_subtitle"
                ng-hide="entity.updater"
                ng-bind="'never' | translate"
              />
            </li>
            <li ng-show="authority_groups().length > 0">
              {{'activerecord.models.authority_group.other' | translate | capitalize}}:
              <ul class="subitems">
                <li ng-repeat="group in authority_groups()">
                  <span ng-repeat="category in group.ancestry">{{category}} »</span>
                  <a href="/authority_groups/{{group.id}}" ng-bind="group.name"></a>
                </li>
              </ul>
            </li>
            <li>
              <span ng-bind="'activerecord.models.collection' | translate | capitalize"></span>:
              
              <span class="highlighted_subtitle" ng-bind="entity.collection.name"></span>
            </li>
            <li>
              <span ng-bind="'activerecord.attributes.entity.degree' | translate | capitalize"></span>:
              <span class="highlighted_subtitle" ng-bind="entity.degree"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>

  <div class="layout_panel right small_panel_size">
    <div class="content_panel">
      
      <div class="viewer" ng-show="entity.medium_id">
        <div class="title" ng-bind="'activerecord.models.medium' | translate | capitalize"></div>
        
        <div class="kor_medium_frame" id="kor_medium_frame_{{entity.id}}">
          <a href="/media/{{entity.medium_id}}">
            <img alt="Image" class="kor_medium" ng-src="{{entity.medium.url.preview}}">
          </a>
        </div>
        
        <div class="commands">
          <a href="/media/transform/{{entity.medium_id}}/image?operation=flip">
            <img alt="Flip" src="<%= image_path('media/transformations/image/flip.gif') %>">
          </a>
          <a href="/media/transform/{{entity.medium_id}}/image?operation=flop">
            <img alt="Flop" src="<%= image_path('media/transformations/image/flop.gif') %>">
          </a>
          <a href="/media/transform/{{entity.medium_id}}/image?operation=rotate_cw">
            <img alt="Rotate_cw" src="<%= image_path('media/transformations/image/rotate_cw.gif') %>">
          </a>
          <a href="/media/transform/{{entity.medium_id}}/image?operation=rotate_ccw">
            <img alt="Rotate_ccw" src="<%= image_path('media/transformations/image/rotate_ccw.gif') %>">
          </a>
          <a href="/media/transform/{{entity.medium_id}}/image?operation=rotate_180">
            <img alt="Rotate_180" src="<%= image_path('media/transformations/image/rotate_180.gif') %>">
          </a>
        </div>
        
        <div class="formats">
          <a href="/media/{{entity.medium.id}}" ng-bind="'verbs.enlarge' | translate"></a> |
          <a href="/media/maximize/{{entity.medium.id}}" ng-bind="'verbs.maximize' | translate"></a> |
          <a
            href="<%= root_url + 'mirador/' %>{{entity.id}}"
            ng-bind="'nouns.mirador' | translate"
            ng-click="openMirador(entity.id, $event)"
          ></a>
          <br />
          <span ng-bind="'verbs.download' | translate"></span>:
          <br />&nbsp;&nbsp;
          <a 
            ng-show="allowed_to('download_originals')"
            href="/media/download/original/{{entity.medium.id}}" 
          >
            {{'nouns.original' | translate}} |
          </a>
          <a
            href="/media/download/normal/{{entity.medium.id}}"
            ng-bind="'nouns.enlargement' | translate">
          </a> |
          <a
            href="/entities/{{entity.id}}/metadata"
            ng-bind="'nouns.metadata' | translate"
          ></a>
        </div>
      </div>
      
      <div class="related_images">
        <div class="title" ng-bind="'nouns.related_medium' | translate:{count: 'other'} | capitalize"></div>
        
        <div class="highlighted_subtitle" ng-show="allowed_to_any('create')">
          <a href="/tools/add_media/{{entity.id}}">» {{'objects.add' | translate:{interpolations: {o: 'activerecord.models.medium.other'} } }}</a>
        </div>
        <br>

        <div
          ng-repeat="(name, count) in entity.media_relations"
          kor-entity="entity"
          kor-media-relation="name"
          kor-count="count"
        ></div>

      </div>
      
    </div>
  </div>
</div>
