.form_field
  = hidden_field_tag(name, :value => checked_collection_ids.join(','))
  %span.label= Collection.model_name.human(:count => :other)
  %span.value= Collection.find_all_by_id(checked_collection_ids).map{|c| c.name}.join(', ')
  %span.select_collections
    %a= kor_command_image('pen')
  
- content_for :templates do
  #collection_selector_dialog
    %form
      - collections.each do |c|
        .selectable_collection
          .name= c.name
          .input
            %input{:type => 'checkbox', :value => "#{c.id}"}
  
:javascript
  CollectionSelector.fix_reload("#{checked_collection_ids.join(',')}");

  CollectionSelector.dialog_title = "#{I18n.t('select_collections')}";
  CollectionSelector.button_apply_label = "#{I18n.t('apply')}";
  CollectionSelector.button_all_none_label = "#{I18n.t('all_none')}";
  CollectionSelector.button_cancel_label = "#{I18n.t('cancel')}";
  
  $('div.form_field span.select_collections img').click(CollectionSelector.select_collections);
