- content_for :form_errors, error_box(:object => @generator)

- content_for :small_title, I18n.t('nouns.generator', :count => :other)
- content_for :small_commands, link_to(kor_command_image('plus'), new_kind_generator_path(@kind))
- content_for :small_content, render(:partial => 'generators')

- content_for :normal_title, I18n.t('nouns.config')
- content_for :normal_content do
  = form_for [@kind, @generator], :as => :generator, :builder => Stdlib::KorFormBuilder, :html => {:class => 'kor_form'} do |f|
    = f.hidden_field :kind_id, :value => params[:kind_id]
  
    %ul{'ng-non-bindable' => true}
      = f.kor_input :name
      = f.kor_input :directive, :control => f.text_area(:directive, :class => 'monospace')
        
      = f.kor_submit
