- content_for :title, I18n.t('nouns.relation', :count => :other)
- content_for :commands, link_to(kor_command_image('plus'), new_relation_path)
- content_for :content do
  %table.kor_table.relations

    %colgroup
      %col{:width => "*"}
      %col{:width => "*"}
      %col{:width => "50"}
      %col{:width => "0"}

    %tr
      %th.pagination{:colspan => 4}
        = will_paginate @relations, :previous_label => '«', :next_label => '»'

    %tr
      %th= Relation.human_attribute_name(:name).capitalize
      %th= Kind.model_name.human(:count => :other).capitalize
      %th= I18n.t("usage_count")
      %th

    - if @relations.empty?
      = I18n.t('objects.none_found', :o => I18n.t('nouns.relationship', :count => :other) )
    - else
      - @relations.each do |o|
        %tr{row_identifiers_for(o)}
          %td
            %div
              = link_to edit_relation_path(o) do
                = o.name
                \/
                = h(o.reverse_name)
            %div
              = o.description
          %td
            %div
              = I18n.t(:from).capitalize + ":"
              = Kind.where(:id => o.from_kind_ids).map{|k| k.name}.join(', ')
            %div
              = I18n.t(:to).capitalize + ":"
              = Kind.where(:id => o.to_kind_ids).map{|k| k.name}.join(', ')
          %td{:style => "text-align: right"}
            = o.relationships.count
          %td.nowrap
            = link_to kor_command_image('pen'), edit_relation_path(o)
            = link_to kor_command_image('x'), o, :method => :delete, :data => {:confirm => I18n.t("confirm.delete_relation")}
