.gallery
  .top_left= top_left
  .top_right= kor_paginate results
  
  .hr
  
  - if results.items.empty?
    = I18n.t('objects.none_found', :o => Entity.model_name.human(:count => :other) )
  - else
    %table.kor_table
      - results.items.in_groups_of(4).each do |row|
        %tr
          - row.each do |e|
            - if e.is_a? Entity
              %td.gallery_item
                .commands
                  = commands_for_entity(e, :container => (defined?(container) ? container : nil))
                  
                = gallery_item e
            - else
              %td.gallery_item.empty
              
  .bottom_right= kor_paginate results