.content_panel
  .title= I18n.t('nouns.search')
  
  = form_tag entities_path, :method => :get, :class => 'kor_form', :id => 'search_form' do
    - if current_user.admin?
      = collections_selector_tag('query[collection_ids]', @query.collection_ids)
    - else
      = hidden_field_tag 'query[collection_ids]', @query.collection_ids.join(',')
    
    = kor_input_tag Kind.model_name.human, :control => kind_selector_tag('query[kind_id]', :selected => @query.kind_id, :without_images => true, :no_selection_name => I18n.t('all'), 'kor-submit-on-change' => true)
    
    = kor_input_tag Entity.human_attribute_name(:search_name), :control => text_field_tag('query[name]', @query.name)
    
    = kor_input_tag EntityDating.model_name.human, :control => text_field_tag('query[dating_string]', @query.criteria[:dating_string])
    
    = kor_input_tag Entity.human_attribute_name(:properties), :control => text_field_tag("query[properties]", @query.properties)
    
    = kor_input_tag Entity.human_attribute_name(:tag_list), :control => text_field_tag("query[tag_list]", @query.tag_list)
    
    .dataset_attributes
      = (search_fields_for_entity_dataset(@query) || "").html_safe

    .hr

    = remote_attachments 'relation_conditions', I18n.t("add_relation_search"), :class => 'expert_search' do
      - @query.relationships.each do |r|
        = attachment render(:partial => 'layouts/relational_form_field', :locals => { |
          :relation_names => Relation.available_relation_names(from_ids: @query.kind_id), |
          :relation_name => r[:relation_name], |
          :entity_name => r[:entity_name] |
        }) |

    .hr
  
    = kor_submit_tag :name => I18n.t('verbs.search')
    
