.entity_list
  = kor_paginate results

  .title= I18n.t('nouns.search_results')

  - if results.empty?
    .message= I18n.t('objects.none_found', :o => Entity.model_name.human(:count => :other))
  - else
    .count
      = results.total
      = I18n.t('nouns.hit', :count => :other)

    %ul
      - results.items.each do |entity|
        %li.search_result
          = link_to entity do
            = check_box_tag "entity_#{entity.id}", "1", marked?(entity), :class => 'put_in_clipboard'
            
            .description
              .name= h(entity.display_name)
              .kind= entity.kind.name

            .clear_both
