- content_for :normal do
  .left.layout_panel.normal_panel_size
    
    .top.layout_panel
      = section_panel( |
        :title => ( @entity.is_medium? ? @entity.kind.name : @entity.display_name ), |
        :capitalize_title => false, |
        :subtitle => entity_subtitle(@entity, true), |
        :capitalize_subtitle => false, |
        :commands => commands_for_entity(@entity, :container => :self), |
        :content => render(:partial => 'entities/attributes', :object => @entity, :as => :entity ) |
      ) |

    .top.layout_panel.relationships
      = section_panel( |
        :title => Relationship.model_name.human(:count => :other), |
        :commands => relative_commands_for_entity(@entity), |
        :content => render(:partial => 'relations', :object => @entity, :as => :entity) |
      ) |

    .layout_panel
      = section_panel( |
        :title => Entity.human_attribute_name(:master_data), |
        :content => render(:partial => 'master_data', :object => @entity, :as => :entity) |
      ) |

- content_for :small do
  - if @entity.is_medium?
    .content_panel
      = render :partial => 'viewer', :object => @entity, :as => :entity
      
  .content_panel
    = render :partial => 'related_images', :object => @entity, :as => :entity, :locals => {:media_relations => @media_relations}
