- content_for :javascript, javascript_include_tag('attachments')
- content_for :form_errors, error_box(:object => @relationship)

= form_for @relationship, :html => { :class => "kor_form" }, :builder => Kor::FormBuilder do |f|
  = f.hidden_field :lock_version
  
  .subtitle.content_panel
    = f.hidden_field :from_id
    = kor_entity @relationship.from, :include_kind => true

  .subtitle.content_panel
    = f.relation_selector @relationship.from.kind_id, @relationship.to.kind_id

  .subtitle.content_panel
    = f.hidden_field :to_id
    = kor_entity @relationship.to, :include_kind => true

  .hr

  = attachments 'properties', Entity.human_attribute_name(:properties), form_fields_for_relationship_property do
    - @relationship.properties.each do |p|
      = attachment form_fields_for_relationship_property(p)

  .hr

  = f.kor_input :wikidata_id

  = f.kor_submit
