- content_for :form_errors, error_box(:object => @user)

- content_for :normal_title, I18n.t('objects.edit', :o => I18n.t('nouns.profile', :count => 1))
- content_for :normal_content do
  = form_for @user, :url => { :controller => 'users', :action => 'update_self' }, :html => { :class => 'kor_form' }, :builder => Kor::FormBuilder do |f|

    = f.hidden_field :lock_version
    = f.kor_input :full_name
    = f.kor_input :username, :attribute => :name
    = f.kor_input :email
    = f.kor_input :password, :control => f.password_field(:password, :value => '')
    = f.kor_input :password_confirmation, :control => f.password_field(:plain_password_confirmation, :value => '')
    = f.kor_input :api_key, :control => f.text_area(:api_key, :class => "small")
    = f.kor_input :locale, :control => f.select(:locale, I18n.available_locales, :selected => I18n.locale)
    
    .hr
    
    = f.kor_input :home_page, :control => f.select(:home_page, available_home_pages)
    
    = f.collection_selector :default_collection_id, :create

    = f.kor_submit
