- unless @check.valid?
  - content_for :form_errors do
    .notices
      - @check.errors.each do |e|
        = kor_notice e


- content_for :normal_title, I18n.t("general")
- content_for :normal_content do
  = form_tag '/config/save_general', :class => 'kor_form' do
   
    .form_subsection.config_section
      .highlighted_subtitle= link_to(human_config_section_name(:maintainer))
      .switcheable.sub_content{:style => 'display: none'}
        = config_value "maintainer.name"
        = config_value "maintainer.mail"
        = config_value "maintainer.legal_text", :type => :text_area
        = config_value "maintainer.about_text", :type => :text_area
    
    .form_subsection.config_section
      .highlighted_subtitle= link_to(human_config_section_name(:host))
      .switcheable.sub_content{:style => 'display: none'}
        = config_value "host.protocol"
        = config_value "host.host"
        = config_value "host.port"
      
    .form_subsection.config_section
      .highlighted_subtitle= link_to(human_config_section_name(:mail))
      .switcheable.sub_content{:style => 'display: none'}
        = config_value "mail.sender_name"
        = config_value "mail.sender_address"

    .form_subsection.config_section
      .highlighted_subtitle= link_to(human_config_section_name(:app))
      .switcheable.sub_content{:style => 'display: none'}
        = config_value "app.default_locale", :control => select_tag("config[app][default_locale]", options_for_select(I18n.available_locales, :selected => Kor.config['app.default_locale']))
        = config_value "app.default_home_page", :control => select_tag("config[app][default_home_page]", options_for_select(available_home_pages))
        = config_value "app.max_foreground_group_download_size"
        = config_value "app.max_file_upload_size"
        = config_value "app.current_history_length"
        = config_value "app.primary_relationships", :control => relation_selector_tag('config[app][gallery][primary_relations][]', {:selected => Kor.config['app.gallery.primary_relations']}, :multiple => true)
        = config_value "app.secondary_relationships", :control => relation_selector_tag('config[app][gallery][secondary_relations][]', {:selected => Kor.config['app.gallery.secondary_relations']}, :multiple => true)
        = config_value "app.welcome_title"
        = config_value "app.welcome_text", :type => :text_area
        
    .form_subsection.config_section
      .highlighted_subtitle= link_to human_config_section_name(:help)
      .switcheable.sub_content{:style => 'display: none'}
        = config_value "maintainer.help_text", :type => :text_area
        - @help_sections.each do |hs|
          = config_value "help.#{hs}", :type => :text_area, :label => I18n.t("config.help.#{hs}")
  
    = kor_submit_tag :name => I18n.t('verbs.save')
    
  :javascript
    $('.config_section a').click(function(event){
      $(event.currentTarget).parents('.config_section').find('.switcheable').toggle();
      return false;
    });
