- content_for :small do
  = section_panel :title => I18n.t("nouns.login") do
    = form_tag({:controller => "authentication", :action => "login"}, :class => "kor_form") do
      
      = kor_input_tag :username, :control => text_field_tag(:username, nil), :class => User
      
      = kor_input_tag :password, :control => password_field_tag(:password), :class => User

      = kor_submit_tag :name => I18n.t("verbs.login")

    #password_forgotten
      .line= link_to I18n.t('password_forgotten_question'), :action => 'password_forgotten'
      - unless registration_notice.blank?
        .line= link_to I18n.t('nouns.registration'), nil, :class => 'dialog_popup', :id => 'registration_notice'

    .hr    

    .login_footer.subtitle
      = version_info :newline => true

    .login_footer.subtitle
      = I18n.t("provided_by").capitalize
      .highlighted_subtitle
        = Kor.config['maintainer.name']
        %br
        = Kor.config['maintainer.city']

    .login_footer.subtitle
      = I18n.t("nouns.license", :count => 1)
      .highlighted_subtitle
        = link_to I18n.t("nouns.agpl"), "http://www.gnu.org/licenses/agpl-3.0.txt", :target => "_blank"

    .login_footer.subtitle
      %a{:href => Kor.source_code_url}
        &raquo;
        = I18n.t("objects.download", :o => I18n.t("nouns.source_code", :count => 1))

- content_for :normal do
  #login_form_blend

- content_for :templates do
  .dialog_popup.registration_notice{:title => I18n.t('nouns.registration')}= registration_notice
