- content_for :small do
  = section_panel :title => I18n.t("password_reset") do
    = form_tag( { :controller => "authentication", :action => "personal_password_reset" }, :class => "kor_form" ) do
      = kor_input_tag :email, :control => text_field_tag(:email, nil, :class => 'focused'), :class => User
      = javascript_tag("$('email').focus()")

      .submit
        = submit_tag I18n.t("verbs.reset")
    
    .spacer
    .hr

    .login_footer.subtitle
      %p
        %span.highlighted_subtitle ConedaKOR
        Version #{File.open("config/version.txt").read}
      
      Lizenz für
      .highlighted_subtitle
        = Kor.config['maintainer.name']
        %br
        = Kor.config['maintainer.city']

- content_for :normal do
  #login_form_blend
