- content_for :custom_head do
  = javascript_include_tag 'kor_index'
  = stylesheet_link_tag 'kor_index'

- content_for :small do
  .content_panel
    .title= I18n.t('nouns.search').capitalize_first_letter

    = form_tag '/entities/component_search', :method => :get, :class => "kor_form", :id => 'search_form' do
      = kor_input_tag Kind.model_name.human, :control => |
        kind_selector_tag(:kind_id, :without_images => true, :selected => params[:kind_id], |
          :no_selection_name => I18n.t('all'), :no_selection_value => nil |
        ) |
    
      = kor_input_tag I18n.t('search_term', :count => 1), :control => text_field_tag(:search_terms, params[:search_terms], :autocomplete => 'off')

      %table#queries
        %tr
          %td= t('nouns.term', :count => :other).capitalize_first_letter
          %td#term_queries
        %tr
          %td= t('nouns.tag', :count => :other).capitalize_first_letter
          %td#tag_queries
        
        %ul
        .clear_both

      .submit
        = kor_reset_tag :name => I18n.t('verbs.reset'), :div => false
        = kor_submit_tag :name => I18n.t('verbs.search'), :div => false
    
- content_for :normal do

  .entity_list
    - @pagination = capture do
      .pagination.ajax{:style => 'visibility: hidden'}
        = I18n.t('goto', :where => I18n.t('nouns.page', :count => 1))
        = link_to kor_command_image('pager_left'), nil, :style => 'display: none'
        = select_tag("pagination")
        = text_field_tag("mass_pagination", nil, :style => 'display: none')
        %span.amount= I18n.t 'of', :amount => 0
        = link_to kor_command_image('pager_right')
        
    = @pagination

    .title= I18n.t('nouns.search_results').capitalize_first_letter
    
    %ul
    
    = @pagination
            
- content_for :templates do
  %ul
    %span.query_item
      %span.label
      = link_to kor_command_image('x')
      
    %li.search_result
      = link_to "http://google.com", :target => '_blank' do
        = check_box_tag "entity_", "1", false, :class => 'put_in_clipboard'
            
        .description
          .name
          .kind

        .clear_both

  %table.result_images.kor_table
    %tr
      %th{:colspan => 4}= I18n.t('some_images')
    %tr.images
      %td.result_image
        .kor_medium_frame
          %a
            %img
          %span.button_bar{:style => 'display: none'}
            %a.target_hit{:style => 'display: none'}
              = kor_command_image('target_hit')
            %a.target
              = kor_command_image('target')
  
  %select.paginate
    %option
    
