!!!

%html
  %title= I18n.t('error.ocurred')
  
  = stylesheet_link_tag 'master'
  
  %style
    :sass
      #page
        width: 450px
        margin: auto
        margin-top: 80px
        
        #logo
          float: left
          margin-right: 50px
          
        #title
          padding-top: 10px
          
        #message
          padding-top: 5px

        #buttons
          padding-top: 20px
          text-align: right
        
        img
          height: 150px

  %body
    #page
      #logo= image_tag('logo_k_big.gif')
      #title.highlighted_subtitle
        = I18n.t('errors.exception_ocurred').capitalize_first_letter
      #message
        = I18n.t('messages.exception_ocurred')
      #buttons
        = link_to I18n.t('back'), :back
        
