<!-- TODO: still needed? replaced by entity-widhet? -->
<script type="text/x-kor-tpl" data-id="entity">
  <div class="kor-entity">
    <span ng-hide="entity.medium_id">
      {{entity.name}} ({{entity.id}})  
    </span>
    <img ng-show="entity.medium_id" ng-src="{{entity.medium.url}}" />
  </div>
</script>

<script type="text/x-kor-tpl" data-id="to-clipboard">
  <a href="#" ng-show="!is_guest()">
    <img data-name="target" src="<%= image_path('target.gif') %>" ng-show="!in_clipboard()" />
    <img data-name="target" src="<%= image_path('target_hit.gif') %>" ng-show="in_clipboard()" />
  </a>
</script>

<script type="text/x-kor-tpl" data-id="current-button">
  <a
    kor-to-current="true"
    href="#"
    ng-show="!is_guest() && allowed_to_any('edit')"
  >
    <%= kor_command_image 'select' %>
  </a>
</script>

<script type="text/x-kor-tpl" data-id="entity-widget">
  <span ng-show="entity.id">
    <span ng-hide="entity | is_medium">
      <div class="name" ng-bind-html="name()"></div>
      <div class="kind" ng-bind-html="kind_name()"></div>
    </span>
    <img 
      ng-show="entity | is_medium"
      ng-src="{{entity.url || entity.medium.url.thumbnail}}"
    />
  </span>
</script>

<script type="text/x-kor-tpl" data-id="relation">
  <%= render partial: 'tpl/relation' %>
</script>

<script type="text/x-kor-tpl" data-id="relationship">
  <%= render partial: 'tpl/relationship' %>
</script>

<script type="text/x-kor-tpl" data-id="entity-selector">
  <%= render partial: 'tpl/entities/selector' %>
</script>

<script type="text/x-kor-tpl" data-id="relation-selector">
  <%= render partial: 'tpl/relations/selector' %>
</script>

<script type="text/x-kor-tpl" data-id="pagination">
  <%= render partial: 'tpl/pagination' %>
</script>

<script type="text/x-kor-tpl" data-id="media-relation">
  <%= render partial: 'tpl/media_relation' %>
</script>

<script type="text/x-kor-tpl" data-id="relationship-editor">
  <%= render partial: 'tpl/relationships/form' %>
</script>
