- content_for :normal_title, Credential.model_name.human(:count => :other)
- content_for :normal_commands, link_to(kor_command_image('plus'), new_credential_path)
- content_for :normal_content do
  .collection_list   
  
    %table.kor_table
      %tr
        %th= sort_link_to Credential.human_attribute_name('name'), 'name'
        %th= sort_link_to Credential.human_attribute_name('description'), 'description'
      
      - @credentials.each do |c|
        %tr{:id => "credential_#{c.id}"}
          %td= h(c.list_name)
          %td.expanding= h(c.description)
          %td.nowrap
            = link_to kor_command_image('pen'), edit_credential_path(c)
            = link_to kor_command_image('x'), credential_path(c), :method => :delete, :data => {:confirm => I18n.t("confirm.delete_collection")}
