- content_for :form_errors, error_box(:object => @field)

- content_for :small_title, I18n.t('nouns.field', :count => :other)
- content_for :small_commands, link_to(kor_command_image('plus'), new_kind_field_path(@kind))
- content_for :small_content, render(:partial => 'fields')

- content_for :normal_title, I18n.t('nouns.config')
- content_for :normal_content do
  = form_for @field, :as => :field, :url => @form_url, :builder => Kor::FormBuilder, :html => {:class => 'kor_form'} do |f|
    = hidden_field_tag :klass, params[:klass]
    = f.hidden_field :kind_id, :value => params[:kind_id]
  
    %ul
      - if @field.new_record?
        = f.kor_input :type, :control => f.select(:type, fields_for_select)
           
      = f.kor_input :name
      = f.kor_input :show_label
      = f.kor_input :form_label
      = f.kor_input :search_label
      = f.kor_input :show_on_entity, :control => f.check_box(:show_on_entity)
      = f.kor_input :is_identifier, :control => f.check_box(:is_identifier)
      = f.kor_input :wikidata_id
      
      - begin
        = render :partial => @field.class.config_form_partial_name, :locals => {:kind => @kind, :field => @field, :f => f}
      - rescue ActionView::MissingTemplate => e
        
      = f.kor_submit
      
  :javascript
    $(document).ready(function(event){
      $('#field_type').change(function(event){
        document.location.search = "klass=" + $(this).val();
      });
    });
