#header
  #userinfo.highlighted_subtitle
    %table
      %tr
        %td.version_info
          = image_tag 'loading.gif', :id => 'ajax_loading_indicator', :style => 'display: none'
          = version_info
        - if current_user
          %td
            = I18n.t('logged_in_as').capitalize_first_letter
            - unless current_user == User.guest
              %span.username= link_to current_user.display_name, edit_self_user_path(current_user)
            - else
              %span.username= current_user.display_name if current_user == User.guest
        - if current_user != User.guest              
          %td= image_tag "vertical_dots.gif"
          %td
            = link_to I18n.t('verbs.logout').capitalize_first_letter, { :controller => "authentication", :action => "logout" }

  = link_to image_tag("logo.gif"), root_path