- if current_user
  #session_info{:style => "display: none"}
    #session_info_slide{:style => "#{session[:show_session_info] ? '' : 'display: none'}"}
      #session_info_content.subtitle

        - unless session[:current_history].blank?
          = I18n.t('nouns.current_entity', :count => :other).capitalize_first_letter
          .hr
          %table#current_entity_history
            %tr
              - Entity.find_all_by_id_keep_order(session[:current_history]).each_with_index do |e, i|
                - unless i == 0
                  %td &raquo;
                
                %td
                  = kor_entity(e,
                    :short => true,
                    :how_short => 25,
                    :url => url_for(:controller => 'tools', :action => 'mark_as_current', :id => e.id),
                    :image_buttons => false)

    .clip
      %table{:cellpadding => 0, :cellspacing => 0}
        %tr
          %td.positioner
          %td.left
          %td.commands.center.subtitle
            = link_to I18n.t('nouns.session', :count => 1)
              
          %td.right
  
  = javascript_tag "if (!$('#session_info_content').is(':empty')) {$('#session_info').show()}"

.clear_both

#header
  #userinfo.highlighted_subtitle
    %table
      %tr
        %td.version_info
          = image_tag 'loading.gif', :id => 'ajax_loading_indicator', :style => 'display: none'
          = version_info
        - if current_user
          %td
            = I18n.t('logged_in_as').capitalize
            - unless current_user == User.guest
              %span.username= link_to current_user.display_name, edit_self_user_path(current_user)
            - else
              %span.username= current_user.display_name if current_user == User.guest
        - if current_user != User.guest              
          %td= image_tag "vertical_dots.gif"
          %td
            = link_to I18n.t('verbs.logout').capitalize_first_letter, { :controller => "authentication", :action => "logout" }

  = link_to image_tag("logo.gif"), root_path