<kor-menu>
  <ul>
    <% if !current_user %>
      <%= navigation_item I18n.t('nouns.login'),
        :controller => 'authentication',
        :action => 'form'
      %>
    <% else %>
      <% if current_user.guest? %>
        <%= navigation_item I18n.t('nouns.login'),
          :controller => 'authentication',
          :action => 'form'
        %>
      <% else %>
        <%= navigation_item I18n.t('edit_self'),
          {:controller => 'users', :action => 'edit_self'},
          {:only => :edit_self}
        %>
      <% end %>
      
      <% if current_user && (current_user != User.guest) %>
        <%= navigation_item I18n.t('nouns.clipboard'),
          {:controller => 'tools', :action => 'clipboard'},
          {:except => [
            :transit, :statistics, :invalid_entities, :new_entities
          ]}
        %>
      <% end %>
      
      <li class="spacer"></li>

      <%= navigation_item I18n.t('pages.new_media'),
        web_path(:anchor => "/entities/gallery")
      %>

      <%= navigation_item I18n.t('nouns.simple_search'),
        :controller => "component_search",
        :action => 'component_search'
      %>
      <%= navigation_item I18n.t('nouns.expert_search'),
        :controller => "entities"
      %>
      
      <li class="spacer"></li>

      <% if logged_in? %>
        <kor-sub-menu
          menu-id="groups"
          label="<%= I18n.t('nouns.group', :count => :other).capitalize_first_letter %>"
        >
          <ul class="toggling_menu" id="groups_menu">
            <%= navigation_item model_specifier(AuthorityGroup, :other), 
              authority_group_categories_path 
            %>
            <% if current_user && current_user != User.guest %>
              <%= navigation_item model_specifier(UserGroup, :other),
                user_groups_path,
                :except => [ :shared, :show_shared ]
              %>
            <% end %>
            <%= navigation_item UserGroup.human_attribute_name(:shared, :count => :other),
              shared_user_groups_path,
              :only => [ :shared, :show_shared ]
            %>
            <% if current_user && current_user != User.guest %>
              <%= navigation_item model_specifier(Publishment, :other),
                publishments_path
              %>
            <% end %>
          </ul>
        </kor-sub-menu>

        <li class="spacer"></li>
      <% end %>

      <% if authorized? :create %>
        <li>
          <kor-new-entity-selector></kor-new-entity-selector>
        </li>
        
        <%= navigation_item I18n.t('nouns.mass_upload'),
          web_path(:anchor => "/entities/multi_upload")
        %>
      
        <li class="spacer"></li>
      <% end %>
        
      <% if authorized? :delete %>
        <%= navigation_item I18n.t('nouns.invalid_entity', :count => :other),
          invalid_entities_path, :highlight => :action
        %>
      <% end %>
      <% if authorized? :edit %>
        <%= navigation_item I18n.t('nouns.new_entity', :count => :other),
          recent_entities_path, :highlight => :action
        %>
        <%= navigation_item I18n.t('nouns.isolated_entity', :count => :other),
          web_path(:anchor => "/entities/isolated"),
          :highlight => :action
        %>
      <% end %>
      
      <li class="spacer"></li>

      <% if current_user.any_admin? %>
        <kor-sub-menu
          menu-id="admin"
          label="<%= I18n.t('nouns.config', :count => :other).capitalize_first_letter %>"
        >
          <ul class="toggling_menu" id="config_menu">
            <% if current_user.admin? %>
              <%= navigation_item I18n.t('general'), config_path(:action => 'general') %>
            <% end %>
            <% if current_user.relation_admin? %>
              <%= navigation_item Relation.model_name.human(:count => :other),
                :controller => 'relations' 
              %>
            <% end %>
            <% if current_user.kind_admin? %>
              <%= navigation_item Kind.model_name.human(:count => :other),
                web_path(anchor: '/kinds')
              %>
            <% end %>
            <% if current_user.admin? %>
              <%= navigation_item Collection.model_name.human(:count => :other),
                collections_path
              %>
              <%= navigation_item Credential.model_name.human(:count => :other), 
                credentials_path
              %>
              <%= navigation_item I18n.t('nouns.user_admin'),
                users_path,
                :except => :edit_self, :highlight => :controller
              %>
            <% end %>
          </ul>
        </kor-sub-menu>

        <li class="spacer"></li>
      <% end %>
      
      <%= navigation_item I18n.t('nouns.statistics'),
        :controller => 'tools', :action => 'statistics'
      %>
      
      <% if current_user.admin? %>
        <%= navigation_item ExceptionLog.model_name.human,
          :controller => 'exception_logs'
        %>
      <% end %>

      <% unless Kor.config['maintainer.help_text'].blank? %>
        <li class="inactive_item">
          <%= link_to I18n.t('nouns.help'),
            :controller => 'static', :action => 'help'
          %>
        </li>
      <% end %>

    <% end %>

    <li class="spacer"></li>
    
    <%= navigation_item I18n.t('legal'), :controller => 'static', :action => 'legal' %>
    <%= navigation_item I18n.t('about'), :controller => 'static', :action => 'about' %>
    <li class="inactive_item">
      <%= link_to 'coneda.net', 'http://www.coneda.net', :target => '_blank' %>
    </li>

    <li class="spacer"></li>

    <li class="inactive_item">
      <% if current_user && current_user.any_admin? %>
        <%= link_to I18n.t("report_a_problem").capitalize_first_letter,
          'https://github.com/coneda/kor/issues',
          :target => '_blank'
        %>
      <% else %>
        <%= mail_to Kor.config['maintainer.mail'],
          I18n.t("report_a_problem").capitalize_first_letter
        %>
      <% end %>
    </li>

  </ul>
</kor-menu>