.section_panel
  - if !options[:title].blank? || !options[:commands].blank?
    .header
      - unless options[:title].blank?
        .title= options[:title].capitalize_first_letter
      - unless options[:commands].blank?
        .commands= options[:commands]
      - unless options[:subtitle].blank?
        .type.subtitle= sanitize(options[:subtitle], :tags => ['a', 'span'])
  - unless options[:switch].blank?
    .switch
      = link_to_function kor_command_image('triangle_down').html_safe, "switch_section_panel($(this).up('div.section_panel'))"
      
  .clear_both
  
  - unless options[:content].blank?
    .content.subtitle= options[:content]

