!!!

%html{'ng-app' => 'kor'}
  %head
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => asset_path('favicon.ico')}
  
    = render :partial => "layouts/metas"

    = stylesheet_link_tag 'master'
    = custom_styles

    = javascript_include_tag 'kor'

    = yield :custom_head
    
    = render :partial => 'layouts/javascript_settings'
    
    = render :partial => 'layouts/title'

    = csrf_meta_tags
    
  %body
    = render :partial => "layouts/header"
    = render :partial => "layouts/menu"
    
    #application
      %table.canvas
        %tr.top
          %td.left
          %td.center
          %td.right
        %tr.middle
          %td.left
          %td.center
            #message_area.subtitle= render :partial => "layouts/message_area"
            = yield :canvas
          %td.right
        %tr.bottom
          %td.left
          %td.center
          %td.right

    - unless Kor.config['piwik.id'].blank?
      = render :partial => 'layouts/piwik'
    
    = yield :global_content
    
    #help{:style => 'display: none', :title => I18n.t('nouns.help')}= help_for(controller_name, action_name)
    #help_button{:style => 'display: none'}
      = link_to kor_command_image("help", title: I18n.t('nouns.help'))
    
    #templates{:style => "display: none"}
      .errors
        .title= I18n.t('activerecord.errors.template.header').capitalize_first_letter
        %ul
          %li.error
            %span.highlighted_subtitle.field_name
            %span
            %span.message
          
        
      = yield(:templates)
