!!!

%html{'ng-app' => 'kor', 'ng-controller' => 'root_controller'}
  %head
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => asset_path('favicon.ico')}
  
    = render :partial => "layouts/metas"

    = stylesheet_link_tag 'master'
    = stylesheet_link_tag 'blaze'
    = custom_styles
    
    = render :partial => 'layouts/javascript_settings'
    = javascript_include_tag 'blaze'
    
    = render :partial => 'layouts/title'
    
    %style{:type => "text/css"}
      [ng-cloak] {display: none;}

    = render :partial => 'tpl/misc'

  %body.blaze_style
    = render :partial => "layouts/blaze_header"
    = render :partial => "layouts/menu"
    
    #application{'ng-cloak' => 'true'}
      %table.canvas
        %tr.top
          %td.left
          %td.center
          %td.right
        %tr.middle
          %td.left
          %td.center
            #message_area.subtitle= render :partial => "layouts/blaze_messages"
            %div{"ng-view" => true}
          %td.right
        %tr.bottom
          %td.left
          %td.center
          %td.right

    - unless Kor.config['piwik.id'].blank?
      = render :partial => 'layouts/piwik'
    
    #help{:style => 'display: none', :title => I18n.t('nouns.help')}
      = help_for(controller_name, action_name)
    %button#help_button{:style => 'display: none'}
    
    = javascript_include_tag '/app.js'
